Package: com.tr1fecta.lockmyplaylist
Name: LockMyPlaylist
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Tr1Fecta
Author: Tr1Fecta
Section: Tweaks
